<header class="page-header wrapper">
<div class="col-3">
  <li class="nav-item">
    <%= link_to  users_guest_sign_in_path, method: :post do %>
        <h3>TravelDiary</h3>
    <% end %>
    </li>
</div>
<div class="col-3">
  <li class="nav-item">
    <%= link_to about_home_path do %>
      <h6>
        <i class="fa-solid fa-link"></i>
        About
      </h6>
    <% end %>
  </li>
</div>
<div class="col-3">
  <li class="nav-item">
    <%= link_to new_user_registration_path do %>
      <h6>
        <i class="fa-solid fa-user-plus"></i>
        Sign up
      </h6>
    <% end %>
  </li>
</div>
<div class="col-3">
  <li class="nav-item">
    <%= link_to new_user_session_path do %>
      <h6>
        <i class="fa-solid fa-right-to-bracket"></i>
        Log in
      </h6>
    <% end %>
  </li>
</div>
</header>