<header class="page-header wrapper">
<div class="col-3">
    <%= link_to user_path(current_user.id) do %>
    　<h6>
        <i class="fa-solid fa-house"></i>
        My page
      </h6>
    <% end %>
</div>
<div class="col-3">
    <%= link_to diaries_path do %>
      <h6>
        <i class="fa-solid fa-users"></i>
        List
      </h6>
    <% end %>
</div>
<div class="col-3">
    <%= link_to favorites_path do %>
      <h6>
        <i class="fa-solid fa-book-open"></i>
        Favorite
      </h6>
    <% end %>
</div>
<div class="col-3">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <h6>
        <i class="fa-solid fa-right-from-bracket"></i>
        Log out
      </h6>
    <% end %>
</div>
</header>