<h2 class="emphasis_design3"><span>TravelDiary</span>to welcome!</h2>
</br>
<div class="about">
  <div class="image">
    <%= image_tag "tikyuu.jpg", size: "1500x650" %>
  </div>
  <h3 class="about-text">
    It is an application that guides the development of the world with the purpose of connecting people.</br>
      I hope that it will be a place where you can find some peace in your life.</h3>
</div>

<footer>
  <p class="text1">
    @2024 TravelDiary inc. All Rights Reserved
  </p>
</footer>
