<!DOCTYPE html>
<body>
  <main>
    <img src="../../pexels-cheng-cj-9280137-8451414.jpg" alt="travel"></img>
    <img src="pexels-vince-2147486.jpg" alt="take a picture"></img>
    <img src="pexels-adis-bacinovic-29729722-7103901.jpg" alt="post"></img>

  </main>
</body>