<!DOCTYPE html>
<body>

<div class="top-main">
  <div class="travel">
    <p class="text">
      step1</br>
      leave memories
    </p>
      <%= image_tag "pexels-vince-2147486", size: "400x500" %>
  </div>
  <div class="picture">
    <p class="text">
      step2</br>
      Post a photo
    </p>
    <%= image_tag "pexels-cheng-cj-9280137-8451414", size: "400x500" %>
  </div>
  <div class="post">
    <p class="text">
      step3</br>
      Let's share it with everyone
    </p>
    <%= image_tag "pexels-adis-bacinovic-29729722-7103901", size: "400x500" %>
  </div>
</div>

<footer>
  <p class="text1">
    @2024 TravelDiary inc. All Rights Reserved
  </p>
</footer>
</body>




    